<h2 align="center"><%=@heading %></h2>
<div class="form-group col-sm-offset-3 col-sm-6 ">
  <div class="well well-lg" >

    <p>Всім привіт, я Романюк Богдан  навчаюся у нуЛП  на кафедрі ПЗ</p>

  </div>

</div>